@model AppEjemplo.Models.Vehiculo; 
@{ 
    Layout = null;
}
<h1>Ejemplo de reporte</h1>
<br />
<br />
<h3>Este es un ejemplo para generar un pdf</h3>
<br />
<br /><br />
<p class="h2">
    Se ha consulatado el vehiculo con placa @Model.Placa de la marca @Model.Marca, modelo @Model.Modelo, color @Model.Color, tipo @Model.Tipo, con numero
    de serie @Model.NoSerie
</p>